@import '../../Style/functions';
@import '../../Style/config/colors.scss';

@include right;

.container {
  display: flex;

  > div:first-child {
    margin-right: 1.5em;
  }
}

.right {
  > span {
    color: $white2;
    font-size: 2em;
    font-weight: bold;
  }
}
