@import "../../Style/config/colors.scss";
@import "../../Style/functions";

.container {
  text-align: center;

  > span {
    font-size: 8em;
    color: $white2;
  }

  > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}

.bird-container-one {
  animation-duration: 15s;
  animation-delay: 0;
  z-index: 50;
}
.bird-container-two {
  animation-duration: 16s;
  animation-delay: 1s;
  z-index: 50;
}
.bird-container-three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
  z-index: 50;
}
.bird-container-four {
  animation-duration: 16s;
  animation-delay: 10.25s;
  z-index: 50;
}



.bird {
  background-image: url('../../Assets/images/bird-cells.svg');
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}
.bird-one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}
.bird-two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}
.bird-three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}
.bird-four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}


@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
