@import "../../../Style/config/colors.scss";
@import "../../../Style/functions";

.container {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 1em;

  &[data-send="true"] {
    justify-content: flex-end;

    .message {
      text-align: right;
      border-bottom-right-radius: 0;
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    }
  }
  &[data-send="false"] {
    justify-content: flex-start;

    .message {
      text-align: left;
      border-bottom-left-radius: 0;
      box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.5);
    }
  }
}

.message {
  border-radius: 15px;
  padding: 1em;
  max-width: 70%;

  > img {
    max-width: 100%;
    border-radius: 10px;
    margin: 1rem 0;
  }

  > p {
    margin: 1rem 0;
    white-space: pre-line;
  }

  > span {
    font-weight: bold;
    font-size: 0.8em;
  }
}

[data-theme="dark"] {
  .container {
    &[data-send="true"] {
      .message {
        color: $black;
        background-color: $yellow4;
      }
    }

    &[data-send="false"] {
      .message {
        color: $black;
        background-color: $white3;
      }
    }
  }
}

[data-theme="light"] {
  .container {
    &[data-send="true"] {
      .message {
        color: $white2;
        background-color: $grey3;
      }
    }

    &[data-send="false"] {
      .message {
        color: $black;
        background-color: $white3;
      }
    }
  }
}
