@import '../../../Style/functions';
@import '../../../Style/config/colors.scss';

.container {
  @include w(300px);
}

.profile-picture {
  @include hw(300px, 300px);
  @include flexCenter;
  flex-direction: column;
  margin-bottom: 1em;
  position: relative;

  > img {
    max-width: 300px;
    max-height: 300px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
  }

  &:hover {
    .picture-edit {
      display: block;
    }
  }
}

.picture-edit {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5em;
  display: none;
  cursor: pointer;
  z-index: 3;
}

.user-info {
  @include w(300px);
  font-weight: bold;
  padding: 0 1.75rem;

  > div {
    &:last-child {
      border-bottom: none !important;
    }
  }
}

.user-info-item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
}

.edit-info {
  padding: 1.5rem 0;

  > div {
    text-align: center;
    font-weight: bold;
    color: $grey1;
    padding: 1.5rem;
    background-color: $yellow4;
    cursor: pointer;

    &:hover {
      background-color: $yellow2;
    }
  }
}

[data-theme="dark"] {
  .picture-edit {
    color: $white2;
  }

  .user-info {
    color: $white2;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);

    > div {
      border-bottom: 1px solid $white2;
    }
  }
}

[data-theme="light"] {
  .picture-edit {
    color: $grey2;
  }

  .user-info {
    color: $grey2;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);

    > div {
      border-bottom: 1px solid $grey2;
    }
  }
}
