@import "../../../Style/functions";
@import "../../../Style/config/colors.scss";

.medal {
  @include flexCenter;
  @include hw(35px, 35px);

  border-radius: 10px;
  font-size: 0.7em;
}

[data-theme="dark"] {
  .medal {
    border: 2px solid $white2;
  }
}

[data-theme="light"] {
  .medal {
    border: 2px solid $grey2;
  }
}
