@import '../../Style/functions/flex.scss';
@import '../../Style/config/colors.scss';

.search-bar {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 50px;
  margin-bottom: 1em;
  user-select: none;

  > div {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.bar {
  padding: 10px 20px;
  width: 90%;
  background-color: transparent;
  border-radius: 40px;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
  cursor: text;

  > input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 30px;
    font-size: 1em;

    &:focus::placeholder {
      color: transparent;
    }
  }
}

.button {
  @include flexCenter;
  cursor: pointer;

  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}


[data-theme="light"] {
  .icon {
    color: $black;
  }
}

[data-theme="dark"] {
  .bar {
    > input {
      color: $white1;
    }
  }

  .button {
    &:hover {
      background-color: $grey1;
    }
  }
}
