/* */

/* RGB */

$green1: #8dc13d;

$blue1: #777bb3;

$yellow1: #f7ff58ff;
$yellow2: #FFB701ff;
$yellow3: #FFBE02ff;
$yellow4: #FED501ff;
$yellow5: #EECA02ff;
$yellow6: #F1CD02ff;

$black: #040303ff;

$grey1: #2d2d2aff;
$grey2: #343434ff;
$grey3: rgb(63, 61, 61);
$grey4: rgb(32, 32, 31);

$white1: #f5f9e9ff;
$white2: #daddd8ff;
$white3: rgb(199, 199, 199);
