@import "../../Style/config/colors.scss";
@import "../../Style/functions";

.container {
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include h(50px);
}

.actual {
  padding: 1.2rem;
  cursor: pointer;
  @include flexBet;

  > svg {
    font-size: 1.5em;
    margin-top: -12px;
  }
}

.options {
  display: none;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 45px;
  z-index: 10;
}

.option {
  padding: 1.2rem;
  cursor: pointer;
}

[data-theme="dark"] {
  [data-type="1"] {
    .container {
      background-color: $grey2;
      color: $white2;
    }

    .option {
      background-color: $grey2;
    }

    .actual, .option:hover {
      background-color: $grey4;
    }
  }

  [data-type="2"] {
    .container {
      color: $white2;
    }

    .option {
      background-color: $grey2;

      &:hover {
        background-color: $grey4;
      }
    }
  }
}

